version: 2.1

orbs:
  freegle: freegle/tests@1

workflows:
  version: 2
  build-test:
    jobs:
      - freegle/build-and-test:
          filters:
            branches:
              ignore:
                - modtools
